<h3 class="text-center">Mine Operations Home</h3>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-primary text-white">Create Shipment</h4>
      <div class="card-block">
        <p class="text-center card-text">Click on the button below to initiate a new shipment to a Smelter</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text">
          <a class="btn btn-lg btn-primary" routerLink="/mine/create-shipment" routerLinkActive="active" role="button">Initiate Shipment</a>
        </p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-warning text-white">View Shipment</h4>
      <div class="card-block">
        <p class="text-center card-text">View existing shipmennts</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary" routerLink="/warehouse/create-asn" routerLinkActive="active" role="button">View Shipment</a></p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-success text-white">Create Contract</h4>
      <div class="card-block">
        <p class="text-center card-text">Create a new contract with Smelter company</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary" routerLink="/warehouse/create-asn" routerLinkActive="active" role="button">Create Contract</a></p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-warning text-white">View Contract</h4>
      <div class="card-block">
        <p class="text-center card-text">View existing contracts</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary" routerLink="/warehouse/create-asn" routerLinkActive="active" role="button">View Contracts</a></p>
      </div>
    </div>
  </div>

</div>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-success text-white">Create Profile</h4>
      <div class="card-block">
        <p class="text-center card-text">Click on the button below to create a mine profile</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text">
          <a class="btn btn-lg btn-primary" routerLink="/warehouse/create-asn" routerLinkActive="active" role="button">New Profile</a>
        </p>
      </div>
    </div>

    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-info text-white">View Profile</h4>
      <div class="card-block">
        <p class="text-center card-text">Click on the button below to view an existing mine profile</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text">
          <a class="btn btn-lg btn-primary" routerLink="/warehouse/create-asn" routerLinkActive="active" role="button">View Profile</a>
        </p>
      </div>
    </div>
  </div>
</div>