<h3 class="text-center">Logistics Company Application Home</h3>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-primary text-white">Ackowledge Shipment</h4>
      <div class="card-block">
        <p class="text-center card-text">Click on the button below to ackowledge a new shipment </p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text">
          <a class="btn btn-lg btn-primary" routerLink="/logistics/acknlowdege-shipment" routerLinkActive="active" role="button">Ackowledge Shipment</a>
        </p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-warning text-white">View Shipments</h4>
      <div class="card-block">
        <p class="text-center card-text">View existing shipments</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary"  routerLinkActive="active" role="button">View Shipment</a></p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-success text-white">Deliver Shipments</h4>
      <div class="card-block">
        <p class="text-center card-text">Deliver and existing shipment to a Smelter company</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary" routerLink="/logistics/deliver-shipment"  routerLinkActive="active" role="button">Deliver Shipment</a></p>
      </div>
    </div>
  </div>
</div>

