<h3 class="text-center">Smelter Company Application Home</h3>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-primary text-white">Receive Shipment</h4>
      <div class="card-block">
        <p class="text-center card-text">Click on the button below to receive a shipment from logistics provider</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text">
          <a class="btn btn-lg btn-primary"  routerLink = "/smelter/manage-shipment" routerLinkActive="active" role="button">Receive Shipment</a>
        </p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-warning text-white">Manage Ore Processing</h4>
      <div class="card-block">
        <p class="text-center card-text">Manage received ore processing </p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary"  routerLinkActive="active" role="button">View Inventory</a></p>
      </div>
    </div>
    <div class="card mx-3 my-3">
      <h4 class="card-header text-center card-success text-white">View Report</h4>
      <div class="card-block">
        <p class="text-center card-text">View ore processing reports</p>
      </div>
      <div class="card-footer">
        <p class="text-center card-text"><a class="btn btn-lg btn-primary"  routerLinkActive="active" role="button">View Reports</a></p>
      </div>
    </div>
  </div>
</div>

